<template>
    <section class="auth-main">
        <div class="layer">
            <router-view></router-view>
        </div>
    </section>
</template>

<script>
    export default {
        data() {
            return {

            }
        },
        methods: {
            validate() {
                
            }
        }
    }
</script>

<style lang="css">
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    .form-errors {
        padding: 15px;
    }

    .form-error {
        margin: 5px 0;
        font-weight: bold;
        color: #dc3545;
    }

    .auth-main {
        position: relative;
        min-height: 90vh;
        background: rgba(255,255,255, .1);
    }

    .layer {
        padding: 1em 0;
    }

    .auth-content {
        max-width: 500px;
        margin: 15em auto;
    }

    .content__include {
        padding: 3em 4em;
        margin: 0 1em;
        position: relative;
        z-index: 1;
        border-radius: 35px;
        background: #ddd;
    }

    .content__title {
        margin: 20px;
        text-align: center;
        font-size: 25px;
    }

    .field-group {
        margin-bottom: 20px;
    }

    .field-group input {
        background: rgba(255, 255, 255, 1);
        width: 100%;
        outline: none;
        padding: 10px 15px;
        font-size: 17px;
        font-weight: 300;
        color: #000;
        letter-spacing: 1px;
        border: none;
        border-radius: 35px
    }

    .reg_btn {
        border: none!important;
        color: #fff!important;
        padding: 11px 15px;
        font-family: 'Mukta', sans-serif;
        font-size: 16px;
        width: 100%;
        margin-top: 10px;
        letter-spacing: 2px;
        cursor: pointer;
        transition: 0.5s all;
        border-radius: 35px!important;
        display: block;
        text-align: center
    }

    .reg_btn:hover {
        color: #fff!important;
    }

    .reg_btn-blue {
        background: #007bff!important;

    }

    .reg_btn-red {
        background: #17a2b8;

    }
</style>