<template>
    
    <div class="auth-content">
        <div class="content__title">
            Авторизация
        </div>
        <div class="content__include">
            <div class="form-errors">
                <div 
                    v-for="(error, i) in errors"
                    :key="i"
                    class="form-error"
                >
                {{error}}
                </div>
            </div>
            <form 
                :action="login_url"
                method="post"
                @submit.prevent="validate"
            >
                <div class="field-group">
                    <input placeholder="Email" name="email" v-model="email">
                </div>

                <div class="field-group">
                    <input type="password" placeholder="Пароль" name="password" v-model="password">
                </div>

                <div class="field-group">
                    <input type="submit" value="Войти" class="reg_btn reg_btn-blue">
                </div>

                <div class="field-group">
                    <router-link to="/auth/register" class="reg_btn reg_btn-red">Регистрация</router-link>
                </div>
            </form>
        </div>
    </div>
     
</template>

<script>
    import AppSettings from '../../../settings/app_settings';
    import axios from 'axios';

    export default {
        data() {
            return {
                errors: [],
                email: null,
                password: null,
                login_url: `${AppSettings.api_url()}/twirp/proto.ApmAPIGatewayPublic/Login`
            }
        },
        methods: {
            validate(e) {
                this.errors = [];

                if (!this.email) {
                    this.errors.push('Необходимо указать Email');
                } 

                if (!this.password) {
                    this.errors.push('Необходимо указать Пароль');
                }

                if (!this.errors.length) {
                    this.welcome(e.target.action)
                }
            },
            welcome(login_url) {
                return axios
                    ({
                        method: 'post',
                        url: login_url,
                        data: {
                            email: this.email,
                            password: this.password,
                        }
                    })
                    .then(response => {
                        localStorage.access_token = response.data.access_token
                        localStorage.refresh_token = response.data.refresh_token

                        this.$router.push('/')
                    })
                    .catch(error => {
                        this.errors.push(error.response.data.msg)
                    })
            }
        }
    }
</script>
