<template>
    <div class="auth-content">
        <div class="content__title">
            Регистрация
        </div>
        <div class="content__include">
            <div class="form-errors">
                <div 
                    v-for="(error, i) in errors"
                    :key="i"
                    class="form-error"
                >
                {{error}}
                </div>
            </div>
            <form 
                :action="register_url"
                method="post"
                @submit.prevent="validate"
            >
                <div class="field-group">
                    <input placeholder="Email" name="email" v-model="email">
                </div>

                <div class="field-group">
                    <input type="password" placeholder="Пароль" name="password" v-model="password">
                </div>

                <div class="field-group">
                    <input placeholder="Имя" name="first_name" v-model="first_name">
                </div>

                <div class="field-group">
                    <input placeholder="Фамилия" name="last_name" v-model="last_name">
                </div>

                <div class=field-group>
                    <input type="submit" value="Зарегистрироваться" class="reg_btn reg_btn-blue">
                </div>

                <div class=field-group>
                    <router-link to="/auth/login" class="reg_btn reg_btn-red">Авторизация</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import AppSettings from "../../../settings/app_settings";
    import axios from 'axios';

    export default {
        data() {
            return {
                errors: [],
                email: null,
                password: null,
                first_name: null,
                last_name: null,
                register_url: `${AppSettings.api_url()}/twirp/proto.ApmAPIGatewayPublic/Register`
            }
        },
        methods: {
            validate(e) {

                this.errors = [];

                if (!this.email) {
                    this.errors.push('Необходимо указать Email');
                } else if (!this.validEmail(this.email)) {
                    this.errors.push('Некорректное значение Email')
                }

                if (!this.password) {
                    this.errors.push('Необходимо указать Пароль');
                }

                if (!this.first_name) {
                    this.errors.push('Необходимо указать Имя');
                }

                if (!this.last_name) {
                    this.errors.push('Необходимо указать Фамилию');
                }

                if(!this.errors.length) {
                    this.register_and_login(e.target.action);
                }
            },
            validEmail(email) {
                var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            },
            register_and_login(login_url) {
                return axios
                    ({
                        method: 'post',
                        url: login_url,
                        data: {
                            email: this.email,
                            password: this.password,
                            first_name: this.first_name,
                            last_name: this.last_name
                        }
                    })
                    .then(response => {
                        localStorage.access_token = response.data.access_token
                        localStorage.refresh_token = response.data.refresh_token

                        this.$router.push('/')
                    })
                    .catch(error => {
                        this.errors.push(error.response.data.msg)
                    })
            }
        }
    }
</script>
