<template>
  <div class="wrapper">
    <notifications group="foo" position="top right" classes="custom-notifications" />

    <Header
      :items="menu"
    />
    
    <div>
        <router-view></router-view>
    </div>
  </div>
</template>
<style lang="scss"></style>
<script>

import AdminMenu from '../../settings/admin_menu.js'
import Header from '../../components/Layout/Header/Header';


export default {
  data() {
    return {
        menu: AdminMenu
    }
  },
  watch: {
      $route (to, from) {
          if (from.name != to.name) {
            localStorage.removeItem('sorts')
            localStorage.removeItem('filters')
      }         
    }
  },
  components: {
    Header
  }
};
</script>


<style lang="scss">
  .custom-notifications {

      padding: 10px;
      margin: 0 5px 5px;
    
      font-size: 15px;
    
      color: #ffffff;
      background: #44A4FC;
      border-left: 5px solid #187FE7;
    
      &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
      }
    
      &.error {
        background: #E54D42;
        border-left-color: #B82E24;
      }
    
      &.success {
        background: #68CD86;
        border-left-color: #42A85F;
      }
  }
</style>