<template>
    <div :class="`form-group row`">
        <label class="col-sm-2 col-form-label">{{field.text}}</label>
        <div class="col-sm-10">
            <router-link :to="url()">
                {{value()}}
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
            }
        },
        
        computed: {
            
        },
        methods: {
            value() {
                return this.item[this.field.block.content.value]
            },
            url() {
                return this.item[this.field.block.content.options.url]
            }
        }
    }
</script>