<template>
    <div :class="`form-group row`">
        <label class="col-sm-2 col-form-label">{{field.text}}</label>
        <div class="col-sm-10">
            <div
                :class="bool_class()"
            >
                {{rus_value()}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
            }
        },
        
        computed: {
            
        },
        methods: {
            value() {
                return this.item[this.field.block.content.value]
            },
            bool_class() {
                return this.value() === true ? 'check-yes' : 'check-no'
            },
            rus_value() {
                return this.value() === true ? 'Да' : 'Нет'
            }
        }
    }
</script>


<style lang="scss" scoped>
    .check-yes, .check-no {
        font-weight: bold
    }

    .check-yes {
        color: green;
    }

    .check-no {
        color: darkred;
    }
</style>