<template>
    <div :class="`form-group row`">
        <label class="col-sm-2 col-form-label">{{field.text}}</label>
        <div class="col-sm-10">
            <div :class="empty_class()">
                {{ready_value()}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
                value: null
            }
        },
        mounted() {
            this.value = this.formatted_value(this.field.block.content.options.format)
        },
        
        computed: {
            
        },
        methods: {
            ready_value() {
                return this.value ? this.value : 'Пусто'
            },
            empty_class() {
                return this.value ? '' : 'empty'
            },
            formatted_value(format) {
                var value = this.item[this.field.block.content.value]

                if (format == 'date') {
                    value = this.to_date(value);
                }

                return value;
            },
            collection(val) { // FIX
                if (this.settings.dynamic_collection) {
                    value = this.options.collection.values(value);
                } else {
                    value = this.options.collection.values[value]
                }
            },
            to_date(val) {
                var time_to_mili = val/1000000
                var time = new Date(time_to_mili);

                // var time = time.getTime();

                var theyear = time.getFullYear();
                var themonth = time.getMonth() + 1;
                var thetoday = time.getDate();

                return `${thetoday}.${themonth}.${theyear}`
            }
        }
    }
</script>

<style lang="scss" scoped>
    .empty {
        color: lightgray;
    }
</style>