<template>
  <div>
      <div 
            class="show-window"
            v-if="data_fetched">
          <component 
                v-for="(field, i) in fields.items" 
                :key="i"
                :is="field.block.component"
                :field_obj="field"
                :item_obj="item"
            />
      </div>

    <hr/>
    <a 
        class="show-close"
        href="#"
        @click="$router.go(-1)"
    >
        Закрыть
    </a>
  </div>
</template>

<script>
import axios from 'axios';

import ShowLink from './ShowFields/Link'
import ShowLogical from './ShowFields/Logical'
import ShowText from './ShowFields/Text'

export default {
    name: 'Show',
    props: [
        "url_obj",
        "params",
        "fields_obj",
        "controller_obj",
    ],
    data() {
        return {
            item: {},
            api_response: {
                respond: false
            },
            fields: this.fields_obj,
            data_fetched: false,
            controller: this.controller_obj,
            url: this.url_obj,
            form: null
        }
    },
    mounted() {
        this.controller.actions.show(this.params).then(res => {
            if (res.data.ready) {
                this.item = res.data.item
                this.data_fetched = true;
            }
        })
        
    },
    methods: {
        
    },
    components: {
        ShowText,
        ShowLink,
        ShowLogical,
    }
};
</script>

<style lang="scss">
    .show-window {
        padding: 0 15px
    }

    .show-close {
        display: block;
    }
</style>