<template>
  <div>
      <form v-if="data_fetched">
          <component 
                v-for="(field, i) in fields.items" 
                :key="i"
                :is="field.block.component"
                :field_obj="field"
                :item_obj="item"
                :ref="field.caption.class"
            />
      </form>

    <a 
        v-if="action=='new'"
        href="#"
        @click="send_data"
    >
        Сохранить
    </a>

    <a 
        href="#"
        @click="$router.go(-1)"
    >
        Отмена
    </a>
  </div>
</template>

<script>
import axios from 'axios';

import Input from './FormFields/Input'
import TextArea from './FormFields/TextArea'
import Date from './FormFields/Date'
import Multiselect from './FormFields/Multiselect'

export default {
    name: 'Form',
    props: [
        "url_obj",
        "params",
        "form_fields",
        "controller_obj",
        "action_obj"
    ],
    data() {
        return {
            item: {},
            api_response: {
                respond: false
            },
            fields: this.form_fields,
            data_fetched: false,
            controller: this.controller_obj,
            action: this.action_obj,
            url: this.url_obj,
            form: null
        }
    },
    mounted() {
        if (this.action == 'show') {
            this.controller.actions.show(this.params).then(res => {
                if (res.data.ready) {
                    this.item = res.data.item
                    this.data_fetched = true;
                }
            })
        } else {
            this.data_fetched = true;
        }
        
    },
    methods: {
        send_data() {

            let keys = Object.keys(this.$refs)
            
            let params = {}

            let _this = this;

            keys.forEach(function(item) {
                Object.assign(params, _this.$refs[item][0].out_data())
            });

            // console.log(params)

            // console.log(this.$refs[keys[0]][0].out_data())
            // console.log(this.$refs[keys[1]][0].out_data())
            // console.log(this.$refs[keys[2]][0].out_data())


            // let params = {
            //     carrierID: [
            //         1,2
            //     ],
            //     orderNum: "570",
            //     date: "1574352694000000"
            // }

            axios
            ({
                method: this.url.method,
                url: this.url.url,
                data: params,
                headers: {
                    Authorization: `Bearer ${localStorage.access_token}`,   
                }
            })
            .then(response => {
                this.$router.push('/tasks')
            })
            .catch(error => {
                console.log(error.response)
            })
        }
    },
    components: {
        Input,
        TextArea,
        Date,
        Multiselect
    }
};
</script>

<style>
    
</style>