<template>
     <div :class="`form-group row ${field.caption.class}`">
        <label class="col-sm-2 col-form-label">{{field.caption.text}}</label>
        <div class="col-sm-10">
            <Datepicker 
                format="YYYY-MM-DD"
                type="date"
                placeholder="Выберите дату"
                v-model="value"
                />
            <!-- <input 
                :readonly="field.block.content.options.readonly"
                type="text" 
                class="form-control" 
                :placeholder="field.caption.text"
                :value="formatted_value(field.block.content.options.format)"    
            > -->
        </div>
    </div>
    
</template>

<script>
    import Datepicker from 'vue2-datepicker'


    export default {
        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
                value: null
            }
        },
        methods: {
            out_data() {
                return {
                    date: this.date_nano()
                }
            },
            date_nano() {
                let milisecs = this.value.getTime();

                return milisecs * 1000000;
            }
        },
        components: {
            Datepicker
        }
    }
</script>