<template>
    <div :class="`form-group row ${field.caption.class}`">
        <label class="col-sm-2 col-form-label">{{field.caption.text}}</label>
        <div class="col-sm-10">
            <input 
                :readonly="field.block.content.options.readonly"
                type="text" 
                class="form-control" 
                :placeholder="field.caption.text"
                v-model="value"
            >
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
                value: null
            }
        },
        mounted() {
            this.value = this.formatted_value(this.field.block.content.options.format)
        },
        computed: {
            
        },
        methods: {
            out_data() {
                return {
                    orderNum: this.value
                }
            },
            formatted_value(format) {
                var value = this.item[this.field.block.content.value]

                if (format == 'date') {
                    value = this.to_date(value);
                }

                return value;
            },
            to_date(val) {
                var time_to_mili = val/1000000
                var time = new Date(time_to_mili);

                // var time = time.getTime();

                var theyear = time.getFullYear();
                var themonth = time.getMonth() + 1;
                var thetoday = time.getDate();

                return `${thetoday}.${themonth}.${theyear}`
            }
        }
    }
</script>