<template>
     <div :class="`form-group row ${field.caption.class}`">
        <label class="col-sm-2 col-form-label">{{field.caption.text}}</label>
        <div class="col-sm-10">
            <Multiselect 
                v-model="value"
                :options="options"
                :multiple="true"
                :close-on-select="true"
                label="name"
                track-by="value"
                />
            <!-- <input 
                :readonly="field.block.content.options.readonly"
                type="text" 
                class="form-control" 
                :placeholder="field.caption.text"
                :value="formatted_value(field.block.content.options.format)"    
            > -->
        </div>
    </div>
    
</template>

<script>
    import Multiselect from 'vue-multiselect'


    export default {
        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj,
                value: [], 
                options: this.field_obj.block.content.options.options
            }
        },
        methods: {
            out_data() {
                let arr = []

                this.value.forEach(function(item) {
                    arr.push(item.value)
                })
                return {
                    carrierID: arr
                }
            }
        },
    
        components: {
            Multiselect
        }
    }
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>