<template>
    <div :class="`form-group row ${field.caption.class}`">
        <label class="col-sm-2 col-form-label">{{field.caption.text}}</label>
        <div class="col-sm-10">
            <textarea
                :readonly="field.block.content.options.readonly"
                class="form-control " 
                :placeholder="field.caption.text"
                :rows="field.block.content.options.rows"
                v-model="item[field.block.content.value]"
            >
            </textarea>
        </div>
    </div>
</template>

<script>
    export default {

        props: [
            "field_obj",
            "item_obj"
        ],
        data() {
            return {
                field: this.field_obj,
                item: this.item_obj
            }
        }
    }
</script>