<template>
    <div>
        {{value}}
    </div>  
</template>

<script>
    export default {
        props: [
            'item_obj',
            'options'
        ],
        data() {
            return {
                item: this.item_obj,
                settings: this.options
            }
        },
        computed: {
            value() {
                let value = this.item

                let result = this.settings.no

                if (value) {
                    result = this.settings.yes
                }

                return result
            }
        }
    }
</script>