<template>
    <div id="">
        <button 
            @click.stop="method($event)"
        >
        {{column.value}}
        </button>
        <a href="#" v-if="temp_link.show" @click.stop="get_file(temp_link.url)">Скачать файл</a>
        
    </div>
</template>

<script>


    export default {
        props: [
            'item_obj',
            'field',
            'options',
            'item_id',
            'link_expires',
            'value_obj'
        ],
        data() {
            return {
                item: this.item_obj,
                column: this.field,
                settings: this.options,
                id: this.item_id,
                expires: this.link_expires,
                get_value: this.value_obj,
                temp_link: {
                    url: '',
                    show: false
                }
            }
        },
        computed: {
            
        },
        methods: {
            method(e) {
                // e.stopPropagation();
                // e.preventDefault()

                if (this.settings.value) {
                    let value = this.get_value[this.settings.value];
                    let params = {}
                    
                    if (this.settings.object) {

                        for (var i = 0; i < this.settings.query_keys.length; i ++) {
                            // console.log(this.settings.query_keys[i])
                            params[this.settings.query_keys[i]] = eval(this.settings.query_values[i])
                        }

                        // console.log(params)
                    } else {

                    }
                    

                    // console.log(params)
                } else {
                    let params = {id: this.id};
                }
                
                let action = this.column.block.options.action;

                eval(`this.$parent.controller.actions.${action}(params)`).then(result => {
                    if (result.data.ready == true) {
                        if (this.settings.live) {
                            e.target.hidden = true;
                            this.temp_link.url = result.data.url.url
                            this.temp_link.show = true;
                        } else {
                            this.$parent.fill_table_data()
                        }
                    }
                })
            },
            get_file(url) {
                window.open(url, '_blank');
            }
        }
    }
</script>

<style scoped lang="scss">
    button {
        padding: 5px 7px;
        border: 1px solid rgb(220,220,220);
        border-radius: 8px;
    }
</style>