<template>
    <div>
        {{date_mask}}
    </div>  
</template>

<script>
    export default {
        props: [
            'item_obj',
            'options'
        ],
        data() {
            return {
                item: this.item_obj,
                settings: this.options
            }
        },
        computed: {
            date_mask() {
                var time_to_mili = this.item/1000000
                var time = new Date(time_to_mili);

                // var time = time.getTime();

                var theyear = time.getFullYear();
                var themonth = time.getMonth() + 1;
                var thetoday = time.getDate();

                let result = `${thetoday}.${themonth}.${theyear}`

                if (this.settings.format == 'time') {
                    result = `${thetoday}.${themonth}.${theyear} ${time.getHours()}:${time.getMinutes()}:${time.getSeconds()}`
                }

                return result
            }
        }
    }
</script>