<template>
    <div>
        {{value}}
    </div>  
</template>

<script>
    export default {
        props: [
            'item_obj',
            'options'
        ],
        data() {
            return {
                item: this.item_obj,
                settings: this.options
            }
        },
        computed: {
            value() {
                let value = this.item

                if (this.settings.collection) {
                    if (this.settings.dynamic_collection) {
                        value = this.options.collection.values(value);
                    } else {
                        value = this.options.collection.values[value]
                    }
                    
                }

                if (this.settings.calculated) {
                    value = eval(`value${this.settings.calculated}`)
                }

                return value
            }
        }
    }
</script>