<template>
    <div class="body">
    <div class="body__content">
      
      <div class="body__content-include">
        <div class="body__content-header">
          <h4>Создание задачи</h4>
        </div>

        <div>
         <Form
            :url_obj="url"
            :params="params"
            :form_fields="form_fields"
            :controller_obj="controller"
            action_obj="new"
                    />
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
    import Form from '../../../components/Form/Form';
    import Entity from '../../../models/task';
    import Controller from '../../../controllers/tasks_controller';
    
    export default {
        data() {
            return {
                controller: Controller,
                url: Entity.urls.create,
                entity: Entity,
                params: {},
                form_fields: Entity.form_fields(),
                id_attr: this.$route.params.id
            }
        },
        components: {
            Form,
            // Breadcrumbs
        }
    }
</script>