<template>
    <div class="header">
        <div class="header__content">
            <div class="header__main">
                APM
            </div>
            <div class="header__items">
                <component
                    v-for="(item, i) in menu"
                    :key="i"
                    :is="item.component"
                    :path_obj="item.path"
                    :text_obj="item.text"
                    :items_obj="item.items"
                />

                <div class="clearfix"></div>
            </div>
            
            <div class="header__logout">
                <a href="#" 
                    @click.stop="logout"
                >
                    выйти
                </a>
            </div>

            <div class="clearfix"></div>
        </div>
        
    </div>
</template>

<script>
    import Link from './MenuItems/Link';
    import Dropdown from './MenuItems/Dropdown';
    import axios from 'axios';
    import AppSettings from '../../../settings/app_settings';
    import Vue from 'vue'
    import QueryHelper from '../../../helpers/query_helper';

    
    export default {
        props: [
            'items'
        ],
        data() {
            return {
                menu: this.items
            }
        },
        methods: {
            logout() {
                QueryHelper.logout()
            }
        },
        components: {
            Link,
            Dropdown
        }
    }
</script>

<style lang="scss">

    a:hover {
        text-decoration: none!important;
    }

    .header {
        padding: 20px 30px;
        background: #4caf50;

        &__main {
            float: left;
        }

        &__content {

        }

        &__items {
            margin-left: 30px;
            float: left;
        }

        &__logout {
            float: right;

            a {
                color: #fff;
            }
        }

        &__item {
            padding: 0 15px;
            float: left;
            position: relative;

            & + & {
                margin-left: 20px;
            }

            a {
                color: #fff;
                display: block;
            }
        }

        &__dropdown {
            display: none;
            position: absolute;
            top: 30px;
            background: #fff;
            // border: 1px solid #000;
            border-radius: 3px;
            // padding: 0 15px;
            left: 0;
            min-width: 200px;

            a {
                padding: 0 15px;
                margin: 5px 0;
                color: #000;
            }
        }

    


        .is_open {
            display: block;


        }

        .clearfix {
            clear: both;
        }
    }
</style>