<template>
  <TemplateTable
    :Entity="entity"
  />
</template>

<script>
  import Entity from '../../../models/authorization';
  import TemplateTable from '../../templates/TemplateTable';

  export default {
    data() {
      return {
        entity: Entity
      }
    },
    components: {
      TemplateTable
    }
  };
</script>