<template>
    <TemplateShow
        :Entity="entity"
    />
</template>

<script>
    import Entity from '../../../models/authorization';
    import TemplateShow from '../../templates/TemplateShow';

    require('@/assets/styles/plugins/bootstrap.css');

    export default {
        data() {
            return {
                entity: Entity
            }
        },
        components: {
            TemplateShow
        }
        
    }
</script>