<template>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            <li class="page-item"
            :class="{'disabled': page == 1}">
                <router-link 
                 :to="{path: $route.path, query: {page: prev_page, per_page: per_page}}"
                 class="page-link">
                    Предыдущая
                </router-link>
            </li>
            
            <li class="page-item"
            :class="{'disabled': page == false}">
                <router-link 
                    :to="{path: $route.path, query: {page: next_page, per_page: per_page}}"
                    class="page-link">
                        Следующая
                </router-link> 
            </li>
        </ul>
        <!-- <Paginate
            v-model="page"
            :margin-pages="3"
            :page-count="0"
            :container-class="'pagination justify-content-end'"
            :page-class="'page-item'"
            :click-handler="page_nav"
            :prev-text="'ПРЕДЫДУЩАЯ'"
            :next-text="'СЛЕДУЮЩАЯ'"
        ></Paginate> -->
    </nav>
</template>

<script>
    import Paginate from 'vuejs-paginate';

    export default {
        components: {
            Paginate
        },
        props: [
            'total_items', 
            'current',
            'items_per_page'
            ],
        data() {
            return {
                total: this.total_items,
                page: parseInt(this.current),
                per_page: this.items_per_page
                
            }
        },
        computed: {
            pages_count: function() {
                if (this.total == null || this.per_page == null)
                    return 1
                else
                    return Math.ceil(this.total / this.per_page)
                end
            },
            next_page: function() {
                return this.$route.query.page == null ? 1 : this.$route.query.page + 1
            },
            prev_page: function() {
                return this.$route.query.page == null ? 1 : this.$route.query.page - 1
            }

        },
        methods: {
            page_nav(page) {
                this.$router.push({path: this.$route.path, query: {page: page, per_page: this.per_page}})
            }
        }
    }
</script>


<style>
   
    .pagination li a{
        color: #000!important;
        padding: 5px 10px!important;
    }

    /* .pagination li .a { */
        /* padding: 5px 10px!important; */
    /* } */

    .pagination a:hover {
        background-color: #4caf50 !important;
        border-color: #4caf50 !important;
        color: #fff!important;

    }

    .pagination .active a {
        color: #fff!important;
        background-color: #4caf50 !important;
        border-color: #4caf50 !important;
    }
</style>