<template>
    <div class="table-actions row col-sm-12">
        <div    v-for="(item, i) in items"
                :key="i"
                class="col-sm-2">
            <router-link :to="item.path">{{item.text}}</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'actions'
        ],
        data() {
            return {
                items: this.actions
            }
        }
    }
</script>