<template>
    <div v-if="render_component">
        <TableFilter
            :per_page_items="per_page"
            :filters_obj="table_props.options.filters"
            
        />
        <table class="table table-stripped ">
            <thead>
                <tr>
                    <th
                        v-for="(item, i) in table_props.items" 
                        :key="i"
                        v-if="item.block.visible"
                        :class="`
                            ${item.caption.class} 
                            ${sortable(table_props.options.sortable)}
                        `"
                        @click="sort(item.value, $event)"
                    >
                        {{item.caption.text}}

                        <span class="th-sort">{{sort_symb(item.value)}}</span>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr 
                    v-for="(item, i) in items" 
                    :key="i"
                    :class="blocked"
                    @click="item_open(`${links.show}${item.id}`, $event)"
                >
                    <td
                        v-for="(column, j) in table_props.items"
                        :key=j
                        v-if="column.block.visible"
                        :class="column.caption.class"
                    >
                        <component 
                            v-if="check_condition(column.block.options.condition, item)"
                            :is="column.block.view"
                            :item_obj="item[column.value]"
                            :options="column.block.options"
                            :link_expires="link_expires"
                            :field="column"
                            :value_obj="item"
                            :item_id="item.Id"
                            />     
                    </td>

                </tr>
            </tbody>
        </table>

        <TablePagination 
            :total_items="total_items"
            :items_per_page="per_page"
            :current="current"
        /> 
    </div>
</template>

<script>
    import axios from 'axios';
    import TablePagination from './TablePagination';
    import TableFilter from './TableFilter';

    import ColumnText from './TableColumns/Text';
    import ColumnDate from './TableColumns/Date';
    import ColumnButton from './TableColumns/Button';
    import ColumnBool from './TableColumns/Bool';
    import ColumnFile from './TableColumns/File';


    export default {
        name: 'Table',
        props: [
            "url_obj", 
            "params", 
            "columns",
            "routes",
            "controller_obj"
        ],
        data() {
            return {
                items: [],
                api_response: {
                    respond: false
                },
                table_props: this.columns,
                links: this.routes,
                total_items: 0,
                data_fetched: false,
                render_component: false,
                controller: this.controller_obj,
                link_expires: ''
            }
        },
        watch: {
            $route (to, from) {
                // console.log(from)
                // console.log(to)
                this.render_component = false;
                
                // this.$nextTick(() => {
                    this.fill_table_data();
                // })
            },
            
        },
        computed: {
            per_page () {
                return this.$route.query.per_page == null ? 25 : this.$route.query.per_page
            },
            current() {
                return this.$route.query.page == null ? 1 : this.$route.query.page
            },
            offset() {
                return (this.current - 1) * this.per_page
            },
            blocked() {
                return this.table_props.options.blocked ? 'blocked' : ''              
            },
        },
        methods: {
            check_condition(condition, item) {
                let respond = true

                if (condition) {
                    if (eval(condition)) {
                        respond = true
                    } else {
                        respond = false;
                    }
                } 

                return respond;
            },
            sort_params() {
                let sorts = []

                if (localStorage.sorts) {
                    sorts = JSON.parse(localStorage.sorts)
                } else {
                    if (this.table_props.options.default_sort) {
                        sorts.push(this.table_props.options.default_sort)
                            
                        localStorage.sorts = JSON.stringify(sorts)
                    }
                    
                }

                return {
                    sorts
                }
            },
            filter_params() {
                let filters = []
                
                if (localStorage.filters) {
                    filters = JSON.parse(localStorage.filters)
                }

                return {
                    filters
                }
            },
            sort_order_value(order) {
                switch(order) {
                    case null: 
                        return 1
                        break
                    case 1:
                        return 2
                        break

                }
            },
            sort_symb(field) {
                let sorts = []

                if (localStorage.sorts) {
                    sorts = JSON.parse(localStorage.sorts)
                }
                

                let symbol = null

                for (var i = 0; i < sorts.length; i ++) {
                    // console.log(sorts[i])
                    if (sorts[i].field == field) {
                        if (sorts[i].order == 1) {
                            symbol = "&and;"
                        } else {
                            symbol = "&or;"
                        }
                    }
                }

                var txt = document.createElement('textarea');
                txt.innerHTML = symbol;

                return txt.value;
            },
            sort(field, e) {
                if (e.target.className.includes('sortable')) {
                    let current_sorts = []

                    if (localStorage.sorts) {
                        current_sorts = JSON.parse(localStorage.sorts)
                    }

                    let current_order = null;
                    // let current_index

                    for (var i = 0; i < current_sorts.length; i ++) {
                        if (current_sorts[i].field == field) {
                            current_order = current_sorts[i].order;
                            current_sorts.splice(i, 1);
                        }
                    }

                    if (current_order != 2) {
                        current_sorts.push({
                            field: field,
                            order: this.sort_order_value(current_order)
                        });
                    }

                    localStorage.sorts = JSON.stringify(current_sorts);

                    this.fill_table_data()
                } 
            },
            sortable(sort_key) {
                return sort_key ? 'sortable' : ''
            },
            fill_table_data() {
                this.render_component = false;

                let sorting = this.sort_params();
                let filtering = this.filter_params();


                let default_params = {
                    offset: this.offset,
                    limit: this.per_page
                }

                let set_params = Object.assign(default_params, sorting, filtering)

                this.controller.actions.index(set_params).then(res => {
                    if (res.data.ready) {
                
                        this.total_items = res.data.total_items;
                        this.link_expires = res.data.link_expires;
                        this.items = res.data.objects;
                        this.render_component = true;

                    }
                })
            },
            item_open(link, e) {   
                if (!e.target.parentElement.parentElement.className.includes('blocked') 
                && !e.target.parentElement.className.includes('blocked')) {
                    this.$router.push(link)
                }
            },
            filter_data() {
                let filters = []

                if (localStorage.filters) {
                    this.fill_table_data()
                }
            }
        },
        mounted() {
            this.fill_table_data();
        },
        components: {
            TablePagination,
            TableFilter,
            ColumnText,
            ColumnDate,
            ColumnButton,
            ColumnBool,
            ColumnFile
        }
    }
</script>


<style lang="scss" scoped>
    // @import '../../../src/assets/styles/plugins/bootstrap.css';

    .td-sort {
        color: #000!important;
        transition: 200ms;
        display: block
    }

    .th-sort:hover {
        /* background-color: rgba(0,0,0,.075); */
    }

    .th-sort {
        transition: 200ms;
    }

    tr {
        transition: 200ms;
    }

    tbody tr:hover {
        background-color: rgba(0,0,0,.05);
        cursor: pointer;
    }

    .sortable {
        cursor: pointer;
        transition: 200ms;

        &:hover {
            background-color: rgba(0,0,0,.05);
        }
    }

    
</style>