<template>
    <div class="table-filter row col-sm-12">
        <div class="form-group col-sm-1">
            <label>Количество</label>
            <select class="form-control" @change="onChange($event)" v-model="per_page">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div 
            v-for="(filter, i) in filters"
            :class="`form_group row col-sm-${filter.settings.length * 2}`"
            :key="i"
            >
                <component 
                    v-for="(operator, j) in filter.settings"
                    :key="j"
                    :is="filter.type"
                    :item_obj="filter"
                    :operator_obj="operator"
                />   
            
        </div>
        
    </div>
</template>

<script>
    import FilterDate from './FilterComponents/Date';
    import FilterInput from './FilterComponents/Input';

    export default {
        props: [
            'per_page_items',
            'filters_obj'
        ],
        data() {
            return {
                per_page: this.per_page_items == null ? 25 : this.per_page_items,
                filters: this.filters_obj
            }
        },
        methods: {
            onChange(event) {
                this.$router.replace({path: this.$route.path, query: {page: 1, per_page: event.target.value}})
            }
        },
        components: {
            FilterDate,
            FilterInput
        }
        
    }
    
</script>

<style>
    .table-filter {
        /* background: #dee2e6; */
        padding: 20px;
    }
</style>