<template>
    <div :class="`form-group col-sm-${12 / filter.settings.length}`">
        <label>{{filter.label}} {{operator.prefix}}</label>
  
        <Datepicker 
            v-model="filter_value" 
            format="YYYY-MM-DD"
            type="date"
            placeholder="Выберите дату"
            @change="on_change($event)"
            @clear="on_change($event)"
        />
    </div>
</template>

<script>
    import Datepicker from 'vue2-datepicker'
    import 'vue2-datepicker/index.css';

    export default {

        props: [
            'item_obj',
            'operator_obj'
        ],
        data() {
            return {
                filter: this.item_obj,
                operator: this.operator_obj,
                filter_value: null
            }
        },
        mounted() {
            this.filter_value = this.to_time(this.get_current_filter_val().value)
        },
        computed: {
            date_nano() {
                if (this.filter_value) {
                    let milisecs = this.filter_value.getTime();

                    return milisecs * 1000000;
                }
                
            }
        },
        methods: {
            to_time(nanotime) {
                var time_to_mili = nanotime/1000000
                var time = new Date(time_to_mili);
                // var time = time.getTime();

                // console.log(time)
                return time

                // var theyear = time.getFullYear();
                // var themonth = time.getMonth() + 1;
                // var thetoday = time.getDate();

                // return `${thetoday}.${themonth}.${theyear}`
            },
            on_change(e) {
                let current_params = this.get_filter_params();

                let new_filter = {
                        field: this.filter.field,
                        operator: this.operator.operator_id,
                        value: this.date_nano == null ? '' : this.date_nano.toString()
                }

                this.remove_existing(current_params, new_filter);

                console.log(e)

                if (e != null) {
                    current_params.push(new_filter)
                }

                localStorage.filters = JSON.stringify(current_params)

                this.$parent.$parent.filter_data();
            },
            get_filter_params() {
                let filters = []

                if (localStorage.filters) {
                    filters = JSON.parse(localStorage.filters)
                }

                return filters;
            },
            get_current_filter_val() {
                let result = {
                    value: undefined
                }

                let _result = {}
                if (localStorage.filters) {
                    _result = JSON.parse(localStorage.filters).find(obj => {
                        return obj.field == this.filter.field && obj.operator == this.operator.operator_id;
                    })
                }

                if (_result) {
                    result = _result;
                }

                return result;
            },
            remove_existing(array, obj) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i].field == obj.field && array[i].operator == obj.operator) {
                        array.splice(i, 1);
                    }
                }
            }
        },
        components: {
            Datepicker
        }
    }
</script>

<style lang="scss">


</style>