<template>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#" @click="$router.go(-1)">
                    Вернуться
                </a>   
            </li>
        </ol>
    </nav>
</template>

<script>
    export default {
        props: ["breadcrums_obj"],
        data() {
            return {
                breadcrumbs: this.breadcrums_obj
            }
        },
    }
</script>

<style scoped>
    .breadcrumb-item a {
        color: #000;
    }

    ol {
        margin: 0;
    }
</style>