<template>
    <div class="header__item">
        <a href="#" @click="is_open = !is_open, active = !active">
            {{text}}
        </a>
        <div class="header__dropdown" :class="{is_open}">
            <router-link
                class="header__link"
                v-for="(item, i) in items"
                :key="i"
                :to="item.path"
            >
                {{item.text}}
            </router-link>
        </div>
        
    </div>
</template>

<script>
    export default {
        props: [
            'items_obj',
            'text_obj'
        ],
        data() {
            return {
                items: this.items_obj,
                text: this.text_obj,
                is_open: false,
                active: false
            }
        },
        created: function() {
            let self = this;

            window.addEventListener('click', function(e){
                if (!self.$el.contains(e.target)) {
                    self.is_open = false;
                }
            })
        }
    }
</script>
