<template>
    <div class="header__item">
        <router-link :to="path">
            {{text}}
        </router-link>
    </div>
</template>

<script>
    export default {
        props: [
            'path_obj',
            'text_obj'
        ],
        data() {
            return {
                path: this.path_obj,
                text: this.text_obj
            }
        }
    }
</script>