<template>
    <div class="body">
        <div class="body__content">

            <!-- <Breadcrumbs/> -->
            
            <div class="body__content-include">
                <div class="body__content-header">
                    <h4>{{entity.signatures.item(id_attr)}}</h4>
                </div>
                <div>
                    <Show
                        :url_obj="url"
                        :params="params"
                        :fields_obj="fields"
                        :controller_obj="controller"
                    />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Show from '../../components/Show/Show';

    require('@/assets/styles/plugins/bootstrap.css');

    export default {
        props: [
            'Entity'
        ],
        data() {
            return {
                controller: this.Entity.Controller,
                url: this.Entity.urls.show,
                entity: this.Entity,
                params: {
                    id: this.$route.params.id
                },
                fields: this.Entity.show_fields(),
                id_attr: this.$route.params.id
            }
        },
        components: {
            Show,
            // Breadcrumbs
        }
        
    }
</script>