<template>
  <div class="body">
    <div class="body__content">
      
      <div class="body__content-include">
        <div class="body__content-header">
          <h4>{{entity.signatures.items()}}</h4>
        </div>

        <div>
          <Table 
              :url_obj="url" 
              :params="params" 
              :columns="table_properties"
              :routes="routes"
              :controller_obj="controller"
              />
        </div>
      </div>
      
    </div>
  </div>
</template>

<script>
    import Table from '../../components/Table/Table'

    export default {
        props: [
            'Entity'
        ],
        data() {
            return {
                controller: this.Entity.Controller,
                url: this.Entity.urls.index,
                entity: this.Entity,
                params: {},
                table_properties: this.Entity.table_properties(),
                routes: this.Entity.routes
            }
        },
            components: {
            Table,
        }
    };
</script>

<style lang="scss">
  .body {
    

    &__content {

      &-include {
        padding: 10px;
      }

      &-header {
        margin: 20px 0;
        padding: 15px;
        background: #4caf50;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

</style>